.container
  .task
    .task_detail
      %h2.title=@task.title
      - if user_signed_in? && current_user.has_tasked?(@task)
        .card_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to "Edit", edit_board_task_path(@task.board, @task)
              = link_to "Delete", board_task_path(@task.board, @task), data: {method: "delete", confirm: "本当に削除してもよろしいですか？"}


  - if @task.eyecatch
    = image_tag @task.eyecatch, class: "card_eyecatch" if @task.eyecatch&.attached?

  .task_content
    = @task.content

  - if @task.comments.present?
    %h3 Comment
    .comment
      - @task.comments.each do |comment|
        .comment_content
          .comment_flex_icon
            = image_tag comment.user.avatar_image , class: "comment_avatar"
          .comment_flex_content
            = comment.content





  = link_to new_board_task_comment_path(@task.board, @task) do
    .new_comment
      + Add new comment