.container
  %ul
    - board.errors.full_messages.each do |message|
      %li= message
  %h1.title
    = title
  = form_with(model: board, local: true) do |f|
    .field
      = f.label :name, "Name"
      = f.text_field :name, class: "text"
    .field
      = f.label :description, "Description"
      = f.text_area :description, class: "text"

    = f.submit "Submit", class: "btn-primary"