.container
  %h2.title All Board

  - @boards.each do |board|
    .card
      .card_detail
        %div
          %h3.sub_title.card_detail_title= board.name
          - if user_signed_in? && current_user.has_written?(board)
            .card_detail_actions
              .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                  = link_to "Edit", edit_board_path(board)
                  = link_to "Delete", board_path(board), data: {method: "delete", confirm: "本当に削除してもよろしいですか？"}
      .card_description
        = link_to board_path(board) do
          = board.description
      .card_flex
        .card_flex_avatar
          - if board.user.profile
            = image_tag board.user.avatar_image, class: "card_avatar_icon"
        .card_flex_comments
          - if board.comment_count.sum > 0
            = board.comment_count.sum
            = image_tag "comments.svg"






  = link_to new_board_path do
    .new_board
      + Add new borad



