.container
  %h2.title All Board

  - @boards.each do |board|
    .card
      .card_detail
        %div
          %h3.sub_title= board.name
          .card_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to "編集する", edit_board_path(board)
                = link_to "削除する", board_path(board), data: {method: "delete", confirm: "本当に削除してもよろしいですか？"}
      = link_to board_path(board) do
        = board.description






  = link_to new_board_path do
    .new_board
      + Add new borad



